Repository lsendel/zamaz-debate-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-vars, maven-compile-check, sonar-quality-check

check-env-vars:
  name: Check for hardcoded secrets
  entry: scripts/check-env-vars.sh
  language: script

maven-compile-check:
  name: Maven compile check
  entry: mvn clean compile -DskipTests
  language: system
  pass_filenames: false

sonar-quality-check:
  name: SonarQube quality check
  entry: scripts/sonar-quality-check.sh
  language: script
  pass_filenames: false
  stages:
  - push

Fix Issues
  .github/workflows/security.yml
  WORKFLOW_IMPROVEMENTS.md
  debate-ui/.eslintrc.security.js
Due: check-env-vars, sonar-quality-check

Feature: Implement comprehensive JWT-based authentication and authorization system
  mcp-common/src/main/java/com/zamaz/mcp/common/event/DomainEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/EventPublisher.java
  mcp-context/src/main/java/com/zamaz/mcp/context/service/ContextService.java
  mcp-security/src/main/java/com/zamaz/mcp/security/annotation/RequiresPermission.java
  mcp-security/src/main/java/com/zamaz/mcp/security/annotation/RequiresRole.java
  mcp-security/src/main/java/com/zamaz/mcp/security/aspect/AuthorizationAspect.java
  mcp-security/src/main/java/com/zamaz/mcp/security/config/AuthorizationConfiguration.java
  mcp-security/src/main/java/com/zamaz/mcp/security/exception/AuthorizationException.java
  mcp-security/src/main/java/com/zamaz/mcp/security/model/McpUser.java
  mcp-security/src/main/java/com/zamaz/mcp/security/model/Permission.java
  mcp-security/src/main/java/com/zamaz/mcp/security/model/Role.java
  mcp-security/src/main/java/com/zamaz/mcp/security/service/AuthorizationService.java
Due: check-env-vars, maven-compile-check, sonar-quality-check

Feature: Implement Template Service Integration in Debate Service
  mcp-common/src/main/java/com/zamaz/mcp/common/event/DebateCreatedEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/DomainEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/EventPublisher.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/client/TemplateServiceClient.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/config/ServiceClientConfiguration.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/config/TemplateServiceProperties.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/controller/TemplateDebateController.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/dto/TemplateDto.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/dto/TemplateValidationResult.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/service/TemplateBasedDebateService.java
  mcp-gateway/pom.xml
Due: check-env-vars, maven-compile-check, sonar-quality-check

Feature: Implement comprehensive event system and RBAC security
  mcp-common/pom.xml
  mcp-common/src/main/java/com/zamaz/mcp/common/config/AsyncConfig.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/DebateCompletedEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/DebateStartedEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/EventListener.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/EventPublisher.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/MessageAddedEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/OrganizationCreatedEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/ParticipantJoinedEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/ParticipantLeftEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/UserRegisteredEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/exception/EventPublishException.java
  mcp-controller/pom.xml
  mcp-controller/src/main/java/com/zamaz/mcp/controller/service/TemplateBasedDebateService.java
  mcp-controller/src/test/java/com/zamaz/mcp/controller/integration/DebateControllerIT.java
  mcp-controller/src/test/java/com/zamaz/mcp/controller/integration/SystemCompilationIT.java
  mcp-controller/src/test/java/com/zamaz/mcp/controller/integration/TemplateBasedDebateServiceIT.java
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/GatewayApplication.java
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/config/GatewayConfig.java
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/controller/FallbackController.java
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/filter/AuthenticationFilter.java
  mcp-gateway/src/main/resources/application.yml
  mcp-security/pom.xml
  mcp-security/src/main/java/com/zamaz/mcp/security/annotation/RequiresPermission.java
  mcp-security/src/main/java/com/zamaz/mcp/security/context/SecurityContext.java
  mcp-security/src/main/java/com/zamaz/mcp/security/context/SecurityContextHolder.java
  mcp-security/src/main/java/com/zamaz/mcp/security/rbac/Permission.java
  mcp-security/src/main/java/com/zamaz/mcp/security/rbac/PermissionEvaluator.java
  mcp-security/src/main/java/com/zamaz/mcp/security/rbac/RequiresPermissionAspect.java
  mcp-security/src/main/java/com/zamaz/mcp/security/rbac/Role.java
  mcp-security/src/main/java/com/zamaz/mcp/security/rbac/RoleService.java
  mcp-security/src/test/java/com/zamaz/mcp/security/SecurityTestConfig.java
  mcp-security/src/test/java/com/zamaz/mcp/security/rbac/PermissionEvaluatorTest.java
  mcp-security/src/test/java/com/zamaz/mcp/security/service/AuthorizationTest.java
Due: check-env-vars, maven-compile-check, sonar-quality-check

Fix: Resolve compilation issues and add API test plan
  API_TEST_PLAN.md
  mcp-security/src/main/java/com/zamaz/mcp/security/aspect/AuthorizationAspect.java
  mcp-security/src/main/java/com/zamaz/mcp/security/exception/AccessDeniedException.java
  mcp-security/src/main/java/com/zamaz/mcp/security/service/AuthorizationService.java
Due: check-env-vars, maven-compile-check, sonar-quality-check

Fix: Resolve compilation errors, test failures, and code quality issues
  .idea/compiler.xml
  docker-compose-sonarqube.yml
  mcp-common/src/main/java/com/zamaz/mcp/common/event/DebateCreatedEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/DebateStartedEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/DomainEvent.java
  mcp-common/src/main/java/com/zamaz/mcp/common/event/EventPublisher.java
  mcp-common/src/main/java/com/zamaz/mcp/common/exception/BaseException.java
  mcp-common/src/main/java/com/zamaz/mcp/common/util/ValidationUtils.java
  mcp-context/src/main/java/com/zamaz/mcp/context/service/ContextService.java
  mcp-organization/src/main/java/com/zamaz/mcp/organization/McpOrganizationApplication.java
  mcp-organization/src/main/java/com/zamaz/mcp/organization/config/SecurityConfig.java
  mcp-organization/src/main/java/com/zamaz/mcp/organization/security/JwtAuthenticationFilter.java
  mcp-organization/src/main/java/com/zamaz/mcp/organization/service/JwtService.java
  mcp-organization/src/test/java/com/zamaz/mcp/organization/McpIntegrationTest.java
  mcp-organization/src/test/java/com/zamaz/mcp/organization/config/TestRedisConfiguration.java
  mcp-organization/src/test/java/com/zamaz/mcp/organization/config/TestSecurityConfiguration.java
  mcp-organization/src/test/resources/application-test.yml
  mcp-security/src/main/java/com/zamaz/mcp/security/rbac/Permission.java
  pom.xml
Due: check-env-vars, maven-compile-check, sonar-quality-check

feat: Add comprehensive API testing framework
  API-TEST-SUMMARY.md
  api-test-examples.md
  mock-api-responses.py
  run-mock-servers.sh
  test-apis.sh
Due: none

docs: Add comprehensive project summary and fix TEMPLATE_LIST permission
  .idea/compiler.xml
  PROJECT-SUMMARY.md
  mcp-controller/src/main/java/com/zamaz/mcp/controller/service/TemplateBasedDebateService.java
  mcp-security/src/main/java/com/zamaz/mcp/security/rbac/Permission.java
Due: check-env-vars, maven-compile-check, sonar-quality-check

security: Fix all BLOCKER vulnerabilities identified by SonarQube
  .env.example
  .gitignore
  SECURITY-FIXES-SUMMARY.md
  SONARQUBE-ANALYSIS.md
  docker-compose.yml
  mcp-debate/src/main/resources/application.properties
  mcp-modulith/src/main/resources/application.yml
  mcp-rag/src/main/resources/application.yml
  mcp-template/src/main/resources/application.yml
  zshrc-sonarcloud-config.sh
Due: check-env-vars

security: Implement additional Docker and TypeScript security fixes
  SECURITY-IMPROVEMENTS.md
  debate-ui/src/components/CreateDebateDialog.tsx
  test-runner.dockerfile
Due: sonar-quality-check

Fix Issues
  .github/workflows/security-scan.yml
  .pre-commit-config.yaml
  COMPREHENSIVE-SECURITY-SUMMARY.md
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/filter/SecurityHeadersFilter.java
  mcp-gateway/src/main/resources/application.yml
  mcp-gateway/src/test/java/com/zamaz/mcp/gateway/filter/SecurityFilterTests.java
  scripts/security-monitoring.sh
  scripts/security-scan.sh
  scripts/security-test-suite.sh
  security-test-reports/security-tests-20250716_175349.md
Due: check-env-vars, maven-compile-check, sonar-quality-check

Fix Issues
  .env.example
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/config/GatewayConfig.java
  mcp-gateway/src/test/java/com/zamaz/mcp/gateway/integration/GatewaySecurityIntegrationTest.java
Due: check-env-vars, maven-compile-check, sonar-quality-check

Fix Issues
  GATEWAY-SECURITY-ENHANCEMENTS.md
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/filter/RequestValidationFilter.java
Due: check-env-vars, maven-compile-check, sonar-quality-check

Fix Issues
  FINAL-SECURITY-IMPLEMENTATION-SUMMARY.md
  mcp-security/src/main/java/com/zamaz/mcp/security/aspect/AuthorizationAspect.java
  mcp-security/src/main/java/com/zamaz/mcp/security/audit/SecurityAuditEvent.java
  mcp-security/src/main/java/com/zamaz/mcp/security/audit/SecurityAuditLogger.java
  mcp-security/src/main/java/com/zamaz/mcp/security/automation/ResponseAction.java
  mcp-security/src/main/java/com/zamaz/mcp/security/automation/ResponseResult.java
  mcp-security/src/main/java/com/zamaz/mcp/security/automation/SecurityResponseAutomation.java
  mcp-security/src/main/java/com/zamaz/mcp/security/automation/ThreatIntelligenceService.java
  mcp-security/src/main/java/com/zamaz/mcp/security/correlation/CorrelationStatistics.java
  mcp-security/src/main/java/com/zamaz/mcp/security/correlation/IncidentStatistics.java
  mcp-security/src/main/java/com/zamaz/mcp/security/correlation/SecurityAlertService.java
  mcp-security/src/main/java/com/zamaz/mcp/security/correlation/SecurityEventCorrelator.java
  mcp-security/src/main/java/com/zamaz/mcp/security/correlation/SecurityIncident.java
  mcp-security/src/main/java/com/zamaz/mcp/security/correlation/SecurityIncidentManager.java
  mcp-security/src/main/java/com/zamaz/mcp/security/metrics/SecurityMetricsCollector.java
  mcp-security/src/main/java/com/zamaz/mcp/security/session/SecureSession.java
  mcp-security/src/main/java/com/zamaz/mcp/security/session/SecureSessionManager.java
  mcp-security/src/main/java/com/zamaz/mcp/security/session/SessionStatistics.java
  mcp-security/src/main/java/com/zamaz/mcp/security/session/SessionType.java
Due: check-env-vars, maven-compile-check, sonar-quality-check

Fix Issues
  .github/workflows/ci.yml
  .kiro/specs/ci-cd-pipeline/design.md
  .kiro/specs/ci-cd-pipeline/requirements.md
  .kiro/specs/ci-cd-pipeline/tasks.md
  IMPLEMENTATION_ANALYSIS_REPORT.md
  PRODUCTION-SECURITY-DEPLOYMENT-GUIDE.md
  SECURITY-INCIDENT-RESPONSE-PROCEDURES.md
  SECURITY-MONITORING-DEPLOYMENT-GUIDE.md
  security-runbooks/01-authentication-failures.md
  security-runbooks/02-suspicious-activity.md
  security-runbooks/03-data-breach-response.md
  security-runbooks/04-ddos-mitigation.md
  security-runbooks/05-insider-threat-detection.md
  security-runbooks/README.md
Due: check-env-vars

Fix Issues
  .github/workflows/ci.yml
  .kiro/specs/ci-cd-pipeline/tasks.md
  .mvn/jvm.config
  .mvn/maven.config
  .mvn/settings.xml
  docs/README.md
  docs/api/overview.md
  docs/architecture/multi-tenant.md
  docs/architecture/overview.md
  docs/ci-cd-pipeline-guide.md
  docs/development/setup.md
  docs/security/guidelines.md
  docs/security/incident-response/procedures.md
  mcp-common/docs/README.md
  mcp-context-client/docs/README.md
  mcp-context/docs/README.md
  mcp-controller/docs/README.md
  mcp-debate/docs/README.md
  mcp-gateway/docs/README.md
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/config/CircuitBreakerConfig.java
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/config/GatewayConfig.java
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/controller/HealthAggregationController.java
  mcp-llm/docs/README.md
  mcp-modulith/docs/README.md
  mcp-organization/docs/README.md
  mcp-rag/docs/README.md
  mcp-security/docs/README.md
  mcp-template/docs/README.md
  mcp-tests/docs/README.md
  mcp-wrapper/docs/README.md
  pom.xml
  scripts/validate-build.sh
Due: check-env-vars, maven-compile-check, sonar-quality-check

Add Specs
  .github/workflows/security-enhanced.yml
  .kiro/specs/ci-cd-pipeline/tasks.md
  SECURITY-TESTING-GUIDE.md
  debate-ui/public/manifest.json
  debate-ui/public/offline.html
  debate-ui/public/sw.js
  debate-ui/src/components/PWAPrompt.jsx
  debate-ui/src/components/SettingsDialog.jsx
  debate-ui/src/hooks/usePWA.js
  docs/api/endpoints/controller-combined.md
  docs/api/endpoints/controller-part2.md
  docs/api/endpoints/controller-part3.md
  docs/api/endpoints/controller-part4.md
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/monitoring/SecurityAlertManager.java
  mcp-gateway/src/main/java/com/zamaz/mcp/gateway/monitoring/SecurityMetricsCollector.java
Due: check-env-vars, maven-compile-check, sonar-quality-check

Add Specs
  .github/security-policy.yml
  .github/zap-rules.tsv
  .kiro/specs/ci-cd-pipeline/tasks.md
  docs/security/SECURITY-SCANNING-GUIDE.md
  mcp-common/src/main/java/com/zamaz/mcp/common/async/DocumentIngestionMessage.java
  mcp-common/src/main/java/com/zamaz/mcp/common/async/RagDocumentIngestionListener.java
  mcp-common/src/main/java/com/zamaz/mcp/common/async/RedisStreamConfig.java
  mcp-common/src/main/java/com/zamaz/mcp/common/async/RedisStreamMessageProducer.java
  mcp-common/src/main/java/com/zamaz/mcp/common/cache/CacheConfiguration.java
  mcp-common/src/main/java/com/zamaz/mcp/common/cache/CacheMetricsCollector.java
  mcp-common/src/main/java/com/zamaz/mcp/common/cache/MonitoredCacheService.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/ai/ArgumentQualityMetrics.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/ai/ArgumentStructure.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/ai/CoherenceAnalyzer.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/ai/CoherenceMetrics.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/ai/DebateStructureAnalysis.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/ai/FactualityChecker.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/ai/FactualityMetrics.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/ai/SentimentAnalyzer.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/ai/SentimentMetrics.java
  mcp-controller/src/main/java/com/zamaz/mcp/controller/controller/DebateAnalysisController.java
  mcp-controller/src/main/resources/application.yml
  mcp-controller/src/main/resources/db/migration/V2__add_indexes.sql
  mcp-llm/src/main/java/com/zamaz/mcp/llm/cache/LlmCacheKeyGenerator.java
  mcp-llm/src/main/java/com/zamaz/mcp/llm/config/LlmCacheConfig.java
  mcp-llm/src/main/java/com/zamaz/mcp/llm/service/CachingLlmService.java
  mcp-llm/src/main/resources/application.yml
  mcp-rag/src/main/java/com/zamaz/mcp/rag/controller/DocumentController.java
  mcp-rag/src/main/java/com/zamaz/mcp/rag/service/AsyncDocumentIngestionService.java
  scripts/api-security-scan.sh
  scripts/iac-security-scan.sh
Due: check-env-vars, maven-compile-check, sonar-quality-check

Add Specs
  .github/gitleaks.toml
  .github/workflows/security-enhanced.yml
  OPTIMIZATION-SUMMARY.md
  debate-ui/src/api/llmClient.ts
  docker-compose-monitoring.yml
  docker-compose.yml
  mcp-common/src/main/java/com/zamaz/mcp/common/tracing/TracingConfig.java
  mcp-debate/src/main/resources/application.properties
  mcp-modulith/src/main/resources/application.yml
  mcp-rag/src/main/resources/application.yml
  mcp-template/src/main/resources/application.yml
  scripts/generate-security-report.sh
Due: check-env-vars, maven-compile-check, sonar-quality-check

Add Specs
  debate-ui/src/components/CreateDebateDialog.tsx
  scripts/api-security-scan.sh
  scripts/iac-security-scan.sh
Due: sonar-quality-check

Fix SonarCloud BLOCKER and CRITICAL security issues
  VERSION_UPDATES_REPORT.md
  docker-compose.yml
  mcp-controller/Dockerfile
  mcp-llm/Dockerfile
  mcp-organization/Dockerfile
  mcp-rag/Dockerfile
  mcp-template/Dockerfile
  scripts/security-penetration-test.sh
Due: check-env-vars

Add Specs
  .github/workflows/security-enhanced.yml
  .kiro/specs/ci-cd-pipeline/tasks.md
  .kiro/specs/github-integration/design.md
  .kiro/specs/github-integration/requirements.md
  .kiro/specs/github-integration/tasks.md
  .pre-commit-config.yaml
  BREAKING_CHANGES_MIGRATION_PLAN.md
  MIGRATION_CHECKLIST.md
  MIGRATION_RISK_ASSESSMENT.md
  PENETRATION-TESTING-IMPLEMENTATION-SUMMARY.md
  debate-ui/package.json
  mcp-common/src/main/java/com/zamaz/mcp/common/observability/Traced.java
  mcp-common/src/main/java/com/zamaz/mcp/common/observability/TracingAspect.java
  mcp-common/src/main/java/com/zamaz/mcp/common/observability/TracingConfig.java
  pom.xml
  scripts/owasp-zap-security-test.sh
  scripts/run-comprehensive-security-tests.sh
  scripts/security-benchmark.sh
Due: check-env-vars, maven-compile-check, sonar-quality-check

Add Specs
  .github/scripts/issue_to_spec.py
  Makefile
  mcp-gateway/src/main/resources/user-management-config.yml
  mcp-gateway/src/test/java/com/zamaz/mcp/gateway/controller/UserManagementControllerIntegrationTest.java
  mcp-gateway/src/test/java/com/zamaz/mcp/gateway/service/UserManagementServiceTest.java
  scripts/README.md
  scripts/development/fix-git-history.sh
  scripts/testing/run-all-tests.sh
  scripts/testing/smoke-tests.sh
  scripts/testing/wait-for-services.sh
Due: check-env-vars, maven-compile-check, sonar-quality-check

Add Kiro Webhook
  .github/scripts/github_auth.py
  .github/scripts/github_event_handlers.py
  .github/scripts/github_webhook_handler.py
  .github/scripts/issue_to_spec.py
  .github/scripts/pr_processor.py
  .github/scripts/webhook_server.py
  .github/workflows/ci-cd.yml
  .github/workflows/issue-to-spec.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/sonarqube-report.yml
  .kiro/config/github.yml.example
  .kiro/specs/github-integration/tasks.md
  PRE_MIGRATION_STATE.md
  debate-ui/package.json
  docs/USER-MANAGEMENT-API.md
  docs/github-integration-setup.md
Due: check-env-vars

Add Kiro Webhook
  .kiro/specs/github-integration/tasks.md
Due: none

✅ Phase 1 Complete: Establish working React 18 baseline
  debate-ui/package.json
  debate-ui/src/reportWebVitals.ts
Due: sonar-quality-check

Add Kiro Webhook
  .github/scripts/code_analyzer.py
  .github/scripts/comment_generator.py
  .github/scripts/pr_processor.py
  .kiro/specs/ci-cd-pipeline/requirements.md
  .kiro/specs/github-integration/tasks.md
  PRE_MIGRATION_STATE.md
Due: none

Add Kiro Webhook
  .github/scripts/fix_suggester.py
  debate-ui/package.json
  src/main/java/com/mcp_llm_j/App.java
Due: check-env-vars, maven-compile-check, sonar-quality-check

Add Kiro Webhook
  .github/scripts/comment_generator.py
  .github/scripts/pr_processor.py
  debate-ui/package.json
Due: none

Add Kiro Webhook
  .github/scripts/config_cli.py
  .github/scripts/config_manager.py
  .github/scripts/github_event_handlers.py
  .kiro/config/github.schema.json
  .kiro/specs/github-integration/tasks.md
  debate-ui/package.json
  debate-ui/src/components/AnalyticsPage.tsx
  debate-ui/src/components/DebateDetailPage.tsx
  debate-ui/src/components/DebatesPage.tsx
Due: sonar-quality-check

feat: Complete React 19 and Material-UI v7 migrations
  debate-ui/src/components/AnalyticsPage.tsx
  debate-ui/src/components/DebateDetailPage.tsx
  debate-ui/src/components/DebatesPage.tsx
Due: sonar-quality-check

Add Kiro Webhook
  .github/scripts/analytics_collector.py
  .github/scripts/learning_system.py
Due: none

Add Kiro Webhook
  .github/scripts/analytics_dashboard.py
  .github/scripts/fix_suggester.py
  .github/scripts/github_event_handlers.py
  .github/scripts/learning_system.py
  .github/scripts/pr_processor.py
  .github/scripts/security_manager.py
  .kiro/specs/github-integration/tasks.md
Due: none

Add Kiro Webhook
  .github/scripts/security_manager.py
  .github/scripts/ui_components.py
  .kiro/specs/github-integration/tasks.md
Due: none

Add GitHub integration
  .github/scripts/notification_service.py
  .github/ui/analytics.html
  .github/ui/configuration.html
  .github/ui/feedback.html
  .github/ui/installation.html
  .kiro/specs/github-integration/tasks.md
  docs/github-integration-admin-guide.md
  docs/github-integration-api.md
  docs/github-integration-user-guide.md
Due: none

Add GitHub integration
  .github/scripts/email_templates.py
  .github/scripts/slack_integration.py
  .kiro/specs/github-integration/tasks.md
  docs/github-integration/README.md
  docs/github-integration/user-guide/getting-started.md
  docs/github-integration/user-guide/understanding-feedback.md
  docs/github-integration/user-guide/using-reviews.md
Due: none

Add GitHub integration
  .dockerignore
  .env.example
  .github/tests/e2e/test_e2e_scenarios.py
  .github/tests/integration/test_github_integration.py
  .github/tests/test_code_analyzer.py
  .github/tests/test_notification_service.py
  .github/tests/test_webhook_handler.py
  .github/workflows/github-integration-ci-cd.yml
  docker-compose-github-integration.yml
  docker-compose-monitoring.yml
  docs/security/SONARCLOUD-FIXES.md
  github-integration/Dockerfile
  github-integration/k8s/configmap.yaml
  github-integration/k8s/deployment.yaml
  github-integration/k8s/namespace.yaml
  github-integration/k8s/pvc.yaml
  github-integration/k8s/service.yaml
  github-integration/pom.xml
  github-integration/src/main/resources/application.yml
  github-integration/src/main/resources/logback-spring.xml
  mock-api-responses.py
  monitoring/github-integration/alert_rules.yml
  monitoring/github-integration/grafana/dashboards/dashboard.yml
  monitoring/github-integration/grafana/dashboards/github-integration-dashboard.json
  monitoring/github-integration/grafana/datasources/prometheus.yml
  monitoring/github-integration/prometheus.yml
  scripts/security/rotate-tokens.sh
  templates/Dockerfile.multi-stage
Due: check-env-vars, maven-compile-check

Path conditions:
  check-env-vars: any of: \.(java|yml|yaml|properties)$
  maven-compile-check: any of: \.(java|xml)$
  sonar-quality-check: any of: \.(java|js|jsx|ts|tsx)$
